{{#if hasBlock}}
  {{#jqm-component role="header"}}
    <h1>{{title}}</h1>
  {{/jqm-component}}
  {{#jqm-component role="main" class="ui-content"}}
    {{yield}}
  {{/jqm-component}}
  {{#if closeButton}}
    {{jqm-anchor rel="close" allCorners=true shadow=true class="ui-btn-b ui-icon-delete ui-btn-icon-notext ui-btn-right"}}
  {{/if}}
{{else}}
  {{#jqm-component role="header"}}
      <h1>{{title}}</h1>
  {{/jqm-component}}
  {{#jqm-component role="main" class="ui-content"}}
    {{body}}
  {{/jqm-component}}
  {{#if closeButton}}
    {{jqm-anchor rel="close" allCorners=true shadow=true class="ui-btn-b ui-icon-delete ui-btn-icon-notext ui-btn-right"}}
  {{/if}}
{{/if}}
