{{#if hasBlock}}
  {{#if closeButton}}
    {{jqm-anchor action="closePopup" allCorners=true shadow=true theme="b" icon="delete" iconPos="notext" class="ui-btn-right"}}
  {{/if}}
  {{#jqm-component role="header"}}
      <h1>{{title}}</h1>
  {{/jqm-component}}
  {{#jqm-component role="main" class="ui-content"}}
    {{yield}}
  {{/jqm-component}}
{{else}}
  {{#if closeButton}}
    {{jqm-anchor action="closePopup" allCorners=true shadow=true theme="b" icon="delete" iconPos="notext" class="ui-btn-right"}}
  {{/if}}
  {{#jqm-component role="header"}}
      <h1>{{title}}</h1>
  {{/jqm-component}}
  {{#jqm-component role="main" class="ui-content"}}
    {{body}}
  {{/jqm-component}}
{{/if}}